	<section class="section">
	<div class="footer-bg-color">
		<div class="footer-common">
			<div class="section-wrapper">
				<div class="footer-common__left-block">
					<h3 class="footer-common__title">YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h3>
					<a href="#" class="cta-button cta-button--lights">Get in touch</a>
				</div>
				<div class="footer-common__right-block">
					<div class="footer-form">
						<h3 class="footer-form__title">STAY INFORMED WITH OUR NEWSLETTER</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<form action="#">
							<input type="email" placeholder="Your email">
							<button class="cta-button footer-form__button">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	
		
	</section>

	<section class="section footer-main">
		<div class="section-wrapper">
			<ul class="footer-main__menu">
				<li class="footer-main__menu-item"><a href="#">Home</a></li>
				<li class="footer-main__menu-item"><a href="index.html">About us</a></li>
				<li class="footer-main__menu-item"><a href="#">Services</a></li>
				<li class="footer-main__menu-item"><a href="#">Portfolio</a></li>
				<li class="footer-main__menu-item"><a href="#">Blog</a></li>
				<li class="footer-main__menu-item"><a href="contact.html">Contact us</a></li>
			</ul>

			<div class="footer-main__right-block">
				<p class="footer-main__copy">Created by akhouad 2016. All Rights Reserved</p>
				<div class="footer-main__social">
					<a href="#"><i class="ion-social-facebook"></i></a>
					<a href="#"><i class="ion-social-twitter"></i></a>
					<a href="#"><i class="ion-social-youtube"></i></a>
					<a href="#"><i class="ion-social-linkedin"></i></a>
					<a href="#"><i class="ion-social-pinterest"></i></a>
					<a href="#"><i class="ion-social-instagram"></i></a>
				</div>
			</div>
		</div>
	</section>
	 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXeDxjt5I6HRgmRAsd2UZpuriuu_hUdVk&language=en">
    </script>
	<script src="js/script.js"></script>

</body>
</html>