<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>About</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header-common">
		<div class="header-common__wrapper">
			<div class="header-top row align-items-center">
				<div class="header-top__left">
					<a href="#" class="header-logo">Akad.</a>
				</div>
				<div class="header-top__right text-right">
					<div class="nav-icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="header-global">
				<div class="header-global__wrapper">
					<h1 class="header-global__title">About us</h1>
					<nav aria-label="breadcrumb">
	  					<ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">About</li>
	  					</ol>
					</nav>
				</div>
			</div>
		</div>
	</header>