.header-common {
	background: #b5b5b6 url('../img/header-bg.jpg');
	background-size: cover;


	&__wrapper {
		@include make-container();
		@include make-container-max-widths();
	}
}

.header-global {
	@include make-row();
	min-height: 400px;
	align-items: center;

	&__wrapper {
		@include make-col-ready();
		@include make-col(12);

		text-align: center;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 48px;
		text-transform: uppercase;
	}
}



.header-top {
	@include make-row();
	height: 100px;

	&__left {
		@include make-col-ready();
		@include make-col(6);
	}

	&__right {
		@include make-col-ready();
		@include make-col(6);
	}
}

.header-logo {
	font-family: 'Monserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: $color_main;
	text-transform: uppercase;
	

	 &:hover {
	 	color: $color_main;
		text-decoration: none;
		opacity: .6;

	 }
}

.nav-icon {
  width: 30px;
  height: 20px;
  display: inline-block;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 9999999;
  position: relative;

  span {
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $color_main;
    opacity: 1;
    left: 0;

    transform: rotate(0deg);
    transition: .35s ease-in-out;

    &:nth-child(1) {
   top: 0;
   width: 100%;
 }

 &:nth-child(2), &:nth-child(3) {
   top: 8px;
     width: 50%;
 }

 &:nth-child(4) {
   top: 16px;
   width: 75%;
 }
  }

  &.open {
   span {
    &:nth-child(1) {
    top: 24px;
    width: 0;
    left: 50%;
  }

  &:nth-child(2) {
    transform: rotate(45deg);
      width: 100%;
  }

  &:nth-child(3) {
    transform: rotate(-45deg);
          width: 100%;
  }

  &:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
  }
   }
  }
}

